:root {
  --color-content-primary: #fff;
  --color-content-secondary: #c7c9cc;
  --color-content-tertiary: #d9d9d9;
  --color-content-brand: #c58de7;
  --color-inverse: #030203;

  --color-background-primary: #020202;
  --color-background-secondary: #111012;
  --color-background-tertiary: #24222e;
  --color-background-brand: #c58de7;
  --color-background-gray: #3d3d3d;

  --color-accent-pink: #d586e0;
  --color-accent-blue: #91a1fa;
  --color-accent-green: #77c0af;
  --color-accent-lime: #d1dc97;
  --color-accent-red: #e9a9b3;

  --linear-gradient-border: linear-gradient(
    91.26deg,
    #77c0af 0%,
    #d1dc97 14.84%,
    #e9a9b3 32.15%,
    #d586e0 65.79%,
    #91a1fa 84.58%
  );
  --linear-gradient-background: linear-gradient(
    91.26deg,
    #d586e0 0%,
    #91a1fa 98.93%
  );
  --linear-gradient-content: linear-gradient(90deg, #c7c9cc 0%, #3d3d3d 100%);

  --font-family-display: "Sora", system-ui;
  --font-display-large: 800 4.5rem/130% var(--font-family-display);
  --font-display-medium: 800 2.5rem/130% var(--font-family-display);
  --font-display-small: 800 2rem/130% var(--font-family-display);

  --font-family-mono: "Roboto Mono", monospace;
  --font-overline: 700 1rem/150% var(--font-family-mono);

  --font-family-sans-serif: "Roboto Flex", sans-serif;
  --font-paragraph-large: 500 1rem/150% var(--font-family-sans-serif);
  --font-paragraph-medium: 500 0.875rem/150% var(--font-family-sans-serif);
  --font-paragraph-small: 500 0.75rem/150% var(--font-family-sans-serif);

  --font-label-large: 700 1.25rem/150% var(--font-family-sans-serif);
  --font-label-medium: 700 1rem/150% var(--font-family-sans-serif);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  height: 100vh;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 22.66%,
      rgba(0, 0, 0, 0.54) 100%
    ),
    var(--color-background-primary) url("../assets/background.svg") bottom
      left/100% no-repeat;
}
