main {
  padding-top: 5.5625rem;
  display: flex;
  justify-content: space-between;
  & > div:first-child {
    & div.overline {
      padding-bottom: 0.75rem;
      font: var(--font-overline);
      background-color: var(--color-content-primary); /* Fallback */
      background: var(--linear-gradient-content);

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
    & h1 {
      color: var(--color-content-primary);
      font: var(--font-display-large);
    }
  }
  & > div.draw-container {
    width: 100%;
    max-width: 30.125rem;

    & div.title-container {
      & div.label-large {
        font: var(--font-label-large);
        color: var(--color-content-primary);
      }
      & p {
        color: var(--color-content-secondary);
        font: var(--font-paragraph-large);
        padding-top: 0.125rem;
      }
    }
  }
  & div#info-container {
    margin-top: 2.375rem;
    & div.info {
      max-width: 22.375rem;
      display: flex;
      gap: 0.5rem;

      &:first-child {
        padding-bottom: 2.25rem;
      }
      & img {
        margin-bottom: auto;
      }
      & div {
        & h2 {
          font: var(--font-paragraph-medium);
          color: var(--color-content-brand);
        }
        & p {
          font: var(--font-paragraph-small);
          color: var(--color-content-secondary);
        }
      }
    }
  }
}

@media (min-width: 68.75rem) {
  .only-mobile {
    display: none;
  }
}

@media (max-width: 68.75rem) {
  main {
    flex-direction: column;
    & > div:first-child {
      & h1 {
        font: var(--font-display-medium);
      }
    }
    & div#info-container {
      margin-top: 2.875rem;
    }
  }

  .only-desktop {
    display: none;
  }
}
